body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;


 }
 .lupa{
    width: 30%;
    height: 70%;
    margin-left: 35%;
    
 }
 .pesquisar{
    width: 60%;
    height: 20px;
    padding: 7px;
    margin: 20px;
    border-radius: 7px;
 }
 .bloco1{
    display: flex;
    justify-content: space-around;
    flex-flow: row  nowrap;
    margin-right: 30px;
 }
 .links{
    text-decoration: none;
 }
 .bloco1 >.links > a{
    text-decoration: none;
 }
 li{
    text-decoration: none;
 }
